.header {
  width: 100%;
  padding: 8px 0px;
  z-index: 10;
}
.header a {
  color: #000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  user-select: none;
}
.header .logo a {
  color: #000;
}
.header .navbar {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}
.header nav {
  flex: 1;
  text-align: right;
}
.header ul {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  transition: max-height 0.5s;
}
.header li {
  display: inline-block;
  margin-right: 20px;
}
.header .menu_basket {
  position: relative;
}
.header .menu_basket_count {
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  font-size: 13px;
  text-align: center;
}
.header .menu_icon {
  display: block;
  width: 20px;
  cursor: pointer;
  margin-left: 20px;
}
@media only screen and (min-width: 801px) {
  .header nav ul {
    max-height: unset !important;
  }
  .header .menu_icon {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .header nav ul {
    position: absolute;
    top: 40px;
    left: 0;
    background: #333;
    width: 100%;
  }
  .header nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header nav ul li a {
    color: #fff;
  }
}
