
// HEADER
.header
    width 100%
    padding: 8px 0px;
    //background-color var(--background_color)
    //color #fff
    z-index 10
    a
        color #000

    .container
        display flex
        justify-content space-between
        align-items center
    .logo
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        user-select none
        a
            color #000
    .navbar
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content end
    nav
        flex 1
        text-align right
    ul
        display inline-block
        list-style-type none
        overflow hidden
        transition max-height 0.5s
    li
        display inline-block
        margin-right 20px

    .menu_basket
        position relative
    .menu_basket_count
        position absolute
        top: 9px;
        left: 0
        right 0
        font-size: 13px;
        text-align: center;

    .menu_icon
        display block
        width 20px
        cursor pointer
        margin-left 20px

    @media only screen and (min-width 801px)
        nav ul
            max-height unset !important
        .menu_icon
            display none
    @media only screen and (max-width 800px)
        nav ul
            position absolute
            top 40px
            left 0
            background #333
            width 100%
            li
                display block
                margin-right 50px
                margin-top 10px
                margin-bottom 10px
                a
                    color #fff