:root 
{
    --container-width: 1460px;

    --border_radius: 3px;

    --background_color: rgba(32, 33, 35, 0.93);
    --text_color: #555
}

/* WEBKIT SCROLL BAR */
/*::-webkit-scrollbar 
{
    width: 8px;
}
::-webkit-scrollbar-thumb 
{
    background-color: #555;
}
::-webkit-scrollbar-track 
{
    background-color: #fff;
    opacity: 0.5;
}*/