.categories .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 500px));
  gap: 20px;
}
.categories .categories_item {
  position: relative;
  width: auto;
  display: flex;
}
.categories .categories_item:after {
  content: attr(data-desc);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #555;
  opacity: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
}
.categories .categories_item:hover:after {
  opacity: 0.85;
}
.categories .categories_item_link {
  width: auto;
  display: flex;
  background: #555;
  color: #fff;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories img {
  width: -webkit-fill-available;
  height: auto;
}
@media screen and (min-width: 681px) {
  .categories .categories_item:after {
    font-size: 2.5vw;
  }
  .categories .categories_item_link {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .categories .container {
    grid-template-columns: repeat(2, minmax(100px, 500px));
  }
  .categories .categories_item:after {
    font-size: 4vw;
  }
}
